/*By Victoria Pettersen > github.com/machinehug & machinehug.com*/

/* ==========================================================================
   CREDITS
   ==========================================================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: 30rem;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: 1rem;
    padding-top: 2rem;
}

h2 {
    font-size: 1.2rem;
}

p {
    line-height: 140%;
}

a {
    color: #6B48FF;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0.05rem;
}

a:hover {
    color: black;
}